# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build and cache directories
dist/
build/
.cache/
.next/

# Editor and OS-specific files
.DS_Store
Thumbs.db
.vscode/
*.swp

# Frontend specific
**/node_modules/
**/build/
**/dist/

# Ignore coverage files
coverage/
.nyc_output/
